In [3]:
import pandas as pd

# Path to the Excel file
excel_file_path = './data/Student-Employability-Datasets.xlsx'

# Read the Excel file
df = pd.read_excel(excel_file_path)

# Print the contents of the DataFrame
print(df)

     Name of Student  GENERAL APPEARANCE  MANNER OF SPEAKING  \
0          Student 1                   4                   5
1          Student 2                   4                   4
2          Student 3                   4                   3
3          Student 4                   3                   3
4          Student 5                   4                   4
...              ...                 ...                 ...
2977    Student 2996                   4                   3
2978    Student 2997                   3                   4
2979    Student 2998                   4                   5
2980    Student 2999                   4                   4
2981    Student 3000                   4                   4

      PHYSICAL CONDITION  MENTAL ALERTNESS  SELF-CONFIDENCE  \
0                      4                 5                5
1                      4                 4                4
2                      3                 3                3
3                      3                 2                3
4                      3                 3                4
...                  ...               ...              ...
2977                   3                 3                3
2978                   4                 4                4
2979                   4                 5                4
2980                   4                 3                4
2981                   4                 4                3

      ABILITY TO PRESENT IDEAS  COMMUNICATION SKILLS  \
0                            5                     5
1                            4                     3
2                            3                     2
3                            3                     3
4                            4                     3
...                        ...                   ...
2977                         3                     2
2978                         4                     4
2979                         4                     4
2980                         4                     3
2981                         4                     4

      Student Performance Rating           CLASS
0                              5      Employable
1                              5      Employable
2                              5  LessEmployable
3                              5  LessEmployable
4                              5      Employable
...                          ...             ...
2977                           5      Employable
2978                           5      Employable
2979                           5      Employable
2980                           5  LessEmployable
2981                           5      Employable

[2982 rows x 10 columns]

In [4]:
csv_file_path = './data/Student-Employability-Datasets.csv'

# Convert DataFrame to CSV
df.to_csv(csv_file_path, index=False)

In [ ]:
df = pd.read_csv(csv_file_path)

In [2]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.0 kB 667.8 kB/s eta 0:00:01
   ---------------------- ----------------- 143.4/250.0 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2